<?xml version="1.0" encoding="UTF-8"?>
<html lang="en">
<head>
</head>
<body>
<script>
    function getRequestForm(type, path) {
        var companyFormWindow = isc.Window.create({
            isModal: true,
            showModalMask: true,
            autoDraw: false,
            autoSize: true,
            canDragReposition: true,
            canDragResize: true,
            autoCenter: true,
            width:"25%",
            items: [
                isc.DynamicForm.create({
                    ID: "companyForm",
                    width: "100%",
                    numCols: 2,
                    fields: [
                        {name: "name", title: "نام", required: true,wrapTitle: false},
                        {name: "userName", title: "نام کاربری"},
                        {name: "ip", title: "ip", type: "textArea"},
                        {name: "phone", title: "شماره تماس"},
                        {name: "description", title: "توضیحات"}
                    ]
                }),
                isc.HStack.create({
                    height: 30,
                    width: "100%",
                    layoutMargin: 10,
                    members: [
                        isc.Label.create({
                            contents: "ذخیره",
                            showShadow: true,
                            shadowDepth: 5,
                            border:"1px solid #cdffe1",
                            backgroundColor: "#f3f3f3",
                            align: "center",
                            icon: "[SKIN]/actions/add.png",
                            iconOrientation: "right",
                            click: function () {
                                if (companyForm.validate())
                                    isc.RPCManager.sendRequest({
                                        actionURL: baseUrl+path,
                                        httpMethod: "POST",
                                        contentType: "application/json",
                                        useSimpleHttp: true,
                                        showPrompt: false,
                                        useStrictJSON: true,
                                        data: JSON.stringify(companyForm.values),
                                        callback: function (data, response) {
                                            companyFormWindow.close();
                                            companyData = JSON.parse(response);
                                            companyGrid.setData(companyData);
                                            companyGrid.fetchData();
                                            isc.say("درخواست با موفقیت انجام شد.")
                                        }
                                    })
                            }
                        })
                    ]
                })
            ]
        });
        if(type == "edit"){
            companyFormWindow.setTitle("فرم ویرایش");
            companyForm.setValues(companyGrid.getSelectedRecord())
        }
        else {
            companyFormWindow.setTitle("فرم ایجاد");
        }
        companyFormWindow.show();
    }
    isc.ToolStrip.create({
        ID: "companyGridEditControls",
        width: "100%", height:24,
        members: [
            isc.ToolStripButton.create({
                icon: "[SKIN]/actions/add.png",
                prompt: "افزودن رکورد جدید",
                click: function () {
                    getRequestForm("ایجاد", addCompany)
                }
            }),
            isc.ToolStripButton.create({
                icon: "[SKIN]/actions/edit.png",
                prompt: "ویرایش رکورد انتخاب شده",
                click: function () {
                    var record = companyGrid.getSelectedRecord();
                    if (record == null) return;
                    getRequestForm("edit", editCompany)
                }
            }),
            isc.ToolStripButton.create({
                icon: "[SKIN]/actions/remove.png",
                prompt: "حذف رکورد انتخاب شده",
                click: function () {
                    isc.ask("آیا از حذف رکورد اطمینان دارید؟",function (ans) {
                        if(ans) {
                            var id = companyGrid.getSelectedRecord().id;
                            isc.RPCManager.sendRequest({
                                actionURL: baseUrl+deleteCompany + id,
                                httpMethod: "DELETE",
                                contentType: "application/json",
                                useSimpleHttp: true,
                                showPrompt: false,
                                useStrictJSON: true,
                                callback: function (data, response) {
                                    companyData = JSON.parse(response);
                                    companyGrid.setData(companyData);
                                    companyGrid.fetchData();
                                    isc.say("درخواست با موفقیت انجام شد.")
                                }
                            })
                        }
                    })
                }
            }),
            isc.LayoutSpacer.create({ width:"*" })
        ]
    });
    var companyData ;
    var endpointData;

    isc.VLayout.create({
        ID:"companyLayout",
        showEdges:false,
        height:"100%",
        width:"100%",
        membersMargin:5,  layoutMargin:10,
        members:[
            isc.HLayout.create({
                showEdges: false,
                width: "100%",
                height: "10%", membersMargin: 5, layoutMargin: 10,
                members: [
                    isc.Label.create({
                        ID: "companyLabel",
                        contents: "لیست شرکت ها",
                        width: "50%",
                        height: "100%",
                        align: "center",
                        backgroundColor:"#e8cdff",
                        showShadow: false,
                    }),
                    isc.Label.create({
                        ID: "companyEndpointsLabel",
                        contents: "لیست سرویس های ارائه شده به شرکت ",
                        width: "50%",
                        height: "100%",
                        align: "center",
                        backgroundColor:"#cdfffa",
                        showShadow: false,
                    })
                ]
            }),
            isc.HLayout.create({
                showEdges:false,
                width: "100%",
                height: "90%", membersMargin:5,  layoutMargin:10,
                members:[
                    isc.ListGrid.create({
                        ID: "companyGrid",
                        width: "50%",
                        height: "100%",
                        alternateRecordStyles: true,
                        showResizeBar: true,
                        autoFetchData: false,
                        canDragSelectText:true,
                        showFilterEditor: false,
                        wrapCells: true,
                        fixedRecordHeights: false,
                        gridComponents:["header", "filterEditor", "body", companyGridEditControls],
                        recordClick(viewer, record, recordNum, field, fieldNum, value, rawValue) {
                            var company = record.id;
                            isc.RPCManager.sendRequest({
                                actionURL: baseUrl+endpointsByCompany+company,
                                httpMethod: "GET",
                                callback: function (data, response) {
                                    endpointData= JSON.parse(response);
                                    endpointGrid.setData(endpointData);
                                    endpointGrid.fetchData();

                                }
                            });
                        },
                        fields: [
                            {name: "name", title: "نام"},
                            {name: "userName", title: "نام کاربری"},
                            {name: "ip", title: "ip"},
                            {name: "phone", title: "شماره تماس"},
                            {name: "description", title: "توضیحات"}
                        ],
                        canReorderFields: true
                    }),
                    isc.ListGrid.create({
                        ID: "endpointGrid",
                        width: "50%",
                        height: "100%",
                        alternateRecordStyles: true,
                        showResizeBar: true,
                        autoFetchData: false,
                        canDragSelectText:true,
                        showFilterEditor: false,
                        wrapCells: true,
                        fixedRecordHeights: false,
                        fields: [
                            {name: "name", title: "نام"},
                            {name: "url", title: "آدرس"},
                            {name: "curl", title: "curl"},
                            {name: "description", title: "توضیحات"},
                        ],
                        canReorderFields: true
                    })
                ]
            })

        ]
    });

    isc.RPCManager.sendRequest({
        actionURL: baseUrl+allCompany,
        httpMethod: "GET",
        callback: function (data, response) {
            companyData= JSON.parse(response);
            companyGrid.setData(companyData);
            companyGrid.fetchData();

        }
    });

</script>
</body>
</html>
