<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<script>
    var projectData ;
    isc.VLayout.create({
        ID:"projectLayout",
        showEdges:false,
        height:"100%",
        width:"100%",
        membersMargin:5,  layoutMargin:10,
        members:[
            isc.Label.create({
                ID: "projectLabel",
                contents: "لیست پروژه ها",
                width: "100%",
                height: "10%",
                align: "center",
                showShadow: true,
            }),
            isc.ListGrid.create({
                ID: "projectGrid",
                width: "100%",
                height: "90%",
                alternateRecordStyles: true,
                showResizeBar: true,
                fields: [
                    {name: "name", title: "نام"},
                    {name: "description", title: "توضیحات"},
                ],
                canReorderFields: true
            })
        ]
    });
    isc.RPCManager.sendRequest({
        actionURL: "http://localhost:4100/projects",
        httpMethod: "GET",
        callback: function (data, response) {
            projectData= JSON.parse(response);
            projectGrid.setData(projectData);
            projectGrid.fetchData();

        }
    });

</script>
</body>
</html>
